/* SCSS HSL */
/* SCSS Gradient */
body {
  height: 100vh;
  width: 100%;
}

body .wrapper {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body .wrapper header .navbar {
  font-size: 14px;
  background: #fff;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #d6d6d6;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

body .wrapper header .navbar .navbar-brand {
  color: #555;
  padding-left: 0;
  font-size: 20px;
  padding-right: 50px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

body .wrapper header .navbar .navbar-brand b {
  color: #f04f01;
}

body .wrapper header .navbar .navbar-nav a {
  font-size: 96%;
  font-weight: bold;
  text-transform: uppercase;
}

body .wrapper header .navbar .navbar-nav a.active {
  color: #f04f01 !important;
  background: transparent !important;
}

body .wrapper header .search-box input.form-control,
body .wrapper header .search-box .btn {
  font-size: 14px;
  border-radius: 2px !important;
}

body .wrapper header .search-box .input-group-append {
  padding-left: 4px;
}

body .wrapper header .search-box input.form-control:focus {
  border-color: #f04f01;
  -webkit-box-shadow: 0 0 8px rgba(240, 79, 1, 0.2);
          box-shadow: 0 0 8px rgba(240, 79, 1, 0.2);
}

body .wrapper header .search-box .btn-danger,
body .wrapper header .search-box .btn-danger:active {
  font-weight: bold;
  background: #f04f01 !important;
  border-color: #f04f01;
  text-transform: uppercase;
  min-width: 90px;
}

body .wrapper header .search-box .btn-danger:hover,
body .wrapper header .search-box .btn-danger:focus {
  background: #eb4e01 !important;
  -webkit-box-shadow: 0 0 8px rgba(240, 79, 1, 0.2);
          box-shadow: 0 0 8px rgba(240, 79, 1, 0.2);
}

body .wrapper header .search-box .btn span {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  display: inline-block;
}

body .wrapper header .navbar .nav-item.open > a {
  background: none !important;
}

body .wrapper header .navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

body .wrapper header .navbar .dropdown-menu a,
body .wrapper header .navbar .dropdown-menu a:active {
  color: #777;
  padding: 8px 20px;
  font-size: 13px;
  background: #fff;
}

body .wrapper header .navbar .dropdown-menu a:hover,
body .wrapper header .navbar .dropdown-menu a:focus {
  color: #333;
  background: #f8f9fa;
}

@media (min-width: 992px) {
  body .wrapper header .form-inline .input-group .form-control {
    width: 225px;
  }
}

@media (max-width: 992px) {
  body .wrapper header .form-inline {
    display: block;
  }
}

body .wrapper header .cta {
  text-align: center;
  background-color: #3b3831;
  color: rgba(185, 178, 157, 0.986);
}

body .wrapper header .cta button {
  min-width: 10rem;
}

@media (min-width: 500px) {
  body .wrapper header .cta button {
    max-width: 7rem;
  }
}

@media (min-width: 700px) {
  body .wrapper header .cta button {
    max-width: 7rem;
  }
}

body .wrapper header .cta .btn-outline-dark {
  background-color: none;
  color: rgba(185, 178, 157, 0.986);
  border: 1px solid rgba(185, 178, 157, 0.986);
}

body .wrapper header .cta .btn-outline-dark:hover {
  background-color: #3c1518;
  color: #e9e7e3;
}

body .wrapper main {
  background-color: aliceblue;
}

body .wrapper main .first-section {
  background-color: #77954a;
  color: #e9f1ec;
  font-size: 1.1rem;
}

body .wrapper main .second-section {
  background-color: #553905;
  color: #c8e4ec;
  font-size: 1.1rem;
}

body .wrapper main #contact {
  background-color: #3b3831;
}

body .wrapper main #contact form {
  background-color: #3b3831;
  color: rgba(185, 178, 157, 0.986);
  padding: 3rem;
  margin-top: 2rem;
  border-radius: 12px;
  min-width: 20rem;
  max-width: 40rem;
  min-height: 5rem;
  max-height: 30rem;
  margin-bottom: 10rem;
}

@media (min-width: 500px) {
  body .wrapper main #contact form {
    min-width: 25rem;
    min-height: 5rem;
    max-height: 30rem;
  }
}

@media (min-width: 700px) {
  body .wrapper main #contact form {
    min-width: 30rem;
    min-height: 5rem;
    max-height: 30rem;
  }
}

body .wrapper main #contact form .form-label {
  color: rgba(185, 178, 157, 0.986);
}

body .wrapper main #contact form button {
  background-color: #3b3831;
  color: rgba(185, 178, 157, 0.986);
  min-width: 10rem;
  max-width: 10rem;
}

body .wrapper main #contact form button:hover {
  background-color: #3c1518;
  color: rgba(185, 178, 157, 0.986);
}

body .wrapper h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 30px 0 60px;
}

body .wrapper h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #8fbc54;
  left: 0;
  right: 0;
  bottom: -10px;
}

body .wrapper .col-center {
  margin: 0 auto;
  float: none !important;
}

body .wrapper .carousel {
  padding: 0 70px;
}

body .wrapper .carousel .carousel-item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}

body .wrapper .carousel .carousel-item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

body .wrapper .carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

body .wrapper .carousel .testimonial {
  padding: 30px 0 10px;
}

body .wrapper .carousel .overview {
  font-style: italic;
}

body .wrapper .carousel .overview b {
  text-transform: uppercase;
  color: #7AA641;
}

body .wrapper .carousel-control-prev, body .wrapper .carousel-control-next {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}

body .wrapper .carousel-control-prev i, body .wrapper .carousel-control-next i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

body .wrapper .carousel-indicators {
  bottom: -40px;
}

body .wrapper .carousel-indicators li, body .wrapper .carousel-indicators li.active {
  width: 12px;
  height: 12px;
  margin: 1px 3px;
  border-radius: 50%;
  border: none;
}

body .wrapper .carousel-indicators li {
  background: #999;
  border-color: transparent;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

body .wrapper .carousel-indicators li.active {
  background: #555;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

body .wrapper footer {
  background-color: #3b3831;
  color: white;
  margin-top: 0rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */