/* SCSS HSL */
$dark-sienna: hsla(355, 48%, 16%, 1);
$blood-red: hsla(4, 76%, 23%, 1);
$rust: hsla(24, 100%, 32%, 1);
$bronze: hsla(31, 65%, 52%, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #3c1518ff,
  #69140eff,
  #a44200ff,
  #d58936ff
);
$gradient-right: linear-gradient(
  90deg,
  #3c1518ff,
  #69140eff,
  #a44200ff,
  #d58936ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #3c1518ff,
  #69140eff,
  #a44200ff,
  #d58936ff
);
$gradient-left: linear-gradient(
  270deg,
  #3c1518ff,
  #69140eff,
  #a44200ff,
  #d58936ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #3c1518ff,
  #69140eff,
  #a44200ff,
  #d58936ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #3c1518ff,
  #69140eff,
  #a44200ff,
  #d58936ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #3c1518ff,
  #69140eff,
  #a44200ff,
  #d58936ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #3c1518ff,
  #69140eff,
  #a44200ff,
  #d58936ff
);
$gradient-radial: radial-gradient(#3c1518ff, #69140eff, #a44200ff, #d58936ff);

body {
  margin: 0;
  padding: 0;

  header {
    .navbar-custom {
      background-color: #3c1518ff !important;
        .navbar-brand {

          color: white !important;
        }
        a  {

           color: white !important;

        }
         span  {

          color: white !important;

        }
      

      
    }

   
  }

  main {
    margin: 0;
    padding: 0;

     .cta {
      background-color: aliceblue;
    }

    .first-section {
      margin: 0;
      padding: 0;
      background-color: rgb(243, 196, 109);
    }

    .second-section {
      margin: 0;
      padding: 0;
      background-color: rgb(243, 196, 109);
    }
  }

}
