/* SCSS HSL */
/* SCSS Gradient */
body {
  height: 100vh;
  width: 100%;
}

body .wrapper {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body .wrapper header .navbar {
  font-size: 14px;
  background: #fff;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #d6d6d6;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

body .wrapper header .navbar .navbar-brand {
  color: #555;
  padding-left: 0;
  font-size: 20px;
  padding-right: 50px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

body .wrapper header .navbar .navbar-brand b {
  color: #f04f01;
}

body .wrapper header .navbar .navbar-nav a {
  font-size: 96%;
  font-weight: bold;
  text-transform: uppercase;
}

body .wrapper header .navbar .navbar-nav a.active {
  color: #f04f01 !important;
  background: transparent !important;
}

body .wrapper header .navbar .nav-item.open > a {
  background: none !important;
}

body .wrapper header .navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

body .wrapper header .navbar .dropdown-menu a,
body .wrapper header .navbar .dropdown-menu a:active {
  color: #777;
  padding: 8px 20px;
  font-size: 13px;
  background: #fff;
}

body .wrapper header .navbar .dropdown-menu a:hover,
body .wrapper header .navbar .dropdown-menu a:focus {
  color: #333;
  background: #f8f9fa;
}

@media (min-width: 992px) {
  body .wrapper header .form-inline .input-group .form-control {
    width: 225px;
  }
}

@media (max-width: 992px) {
  body .wrapper header .form-inline {
    display: block;
  }
}

body .wrapper header section#cta {
  background-color: #dae0d4;
  background-image: url(https://picsum.photos/id/1004/1000/500?blur=1);
}

body .wrapper header section#cta .cta {
  text-align: center;
  color: rgba(185, 178, 157, 0.986);
}

body .wrapper header section#cta .cta button {
  min-width: 10rem;
}

@media (min-width: 500px) {
  body .wrapper header section#cta .cta button {
    max-width: 7rem;
  }
}

@media (min-width: 700px) {
  body .wrapper header section#cta .cta button {
    max-width: 7rem;
  }
}

body .wrapper header section#cta .cta .btn-outline-dark {
  background-color: none;
  color: rgba(185, 178, 157, 0.986);
  border: 1px solid rgba(185, 178, 157, 0.986);
}

body .wrapper header section#cta .cta .btn-outline-dark:hover {
  background-color: #3c1518;
  color: #e9e7e3;
}

body .wrapper main {
  background-color: rgba(9, 18, 24, 0.876);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

body .wrapper main .first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (min-width: 800px) {
  body .wrapper main .first-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body .wrapper main .first-section h2 {
  color: #f4f5f4;
}

body .wrapper main .first-section div {
  width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30rem;
}

body .wrapper main .first-section div p {
  color: #f4f5f4;
  font-size: 1.1rem;
  padding: 2rem;
  padding-top: 2rem;
}

body .wrapper main .first-section div img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 auto;
  padding: 2rem auto;
}

body .wrapper main .second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (min-width: 800px) {
  body .wrapper main .second-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body .wrapper main .second-section h2 {
  color: #f4f5f4;
}

body .wrapper main .second-section div {
  width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30rem;
}

body .wrapper main .second-section div p {
  color: #f4f5f4;
  font-size: 1.1rem;
  padding: 2rem;
  padding-top: 2rem;
}

body .wrapper main .second-section div img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 auto;
  padding: 2rem auto;
}

body .wrapper main #contact {
  background-color: #3b3831;
}

body .wrapper main #contact h2 {
  color: #f4f5f4;
}

body .wrapper main #contact #form {
  background-color: #3b3831;
  color: rgba(185, 178, 157, 0.986);
  padding: 3rem;
  margin-top: 2rem;
  border-radius: 12px;
  min-width: 20rem;
  max-width: 40rem;
  min-height: 5rem;
  max-height: 30rem;
  margin-bottom: 10rem;
}

@media (min-width: 500px) {
  body .wrapper main #contact #form {
    min-width: 25rem;
    min-height: 5rem;
    max-height: 30rem;
  }
}

@media (min-width: 700px) {
  body .wrapper main #contact #form {
    min-width: 30rem;
    min-height: 5rem;
    max-height: 30rem;
  }
}

body .wrapper main #contact #form .form-label {
  color: rgba(185, 178, 157, 0.986);
}

body .wrapper main #contact #form input#button {
  background-color: #3b3831;
  color: rgba(185, 178, 157, 0.986);
  min-width: 10rem;
  max-width: 10rem;
}

body .wrapper main #contact #form input:hover {
  background-color: #3c1518;
  color: rgba(185, 178, 157, 0.986);
}

body .wrapper main h2 {
  color: #0b3257;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 30px 0 60px;
}

body .wrapper main h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #8fbc54;
  left: 0;
  right: 0;
  bottom: -10px;
}

body .wrapper main .col-center {
  margin: 0 auto;
  float: none !important;
}

body .wrapper main .carousel {
  padding: 0 70px;
}

body .wrapper main .carousel .carousel-item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}

body .wrapper main .carousel .carousel-item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

body .wrapper main .carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

body .wrapper main .carousel .testimonial {
  padding: 30px 0 10px;
}

body .wrapper main .carousel .overview {
  font-style: italic;
}

body .wrapper main .carousel .overview b {
  text-transform: uppercase;
  color: #7aa641;
}

body .wrapper main .carousel-control-prev,
body .wrapper main .carousel-control-next {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}

body .wrapper main .carousel-control-prev i,
body .wrapper main .carousel-control-next i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

body .wrapper main .carousel-indicators {
  bottom: -40px;
}

body .wrapper main .carousel-indicators li,
body .wrapper main .carousel-indicators li.active {
  width: 12px;
  height: 12px;
  margin: 1px 3px;
  border-radius: 50%;
  border: none;
}

body .wrapper main .carousel-indicators li {
  background: #999;
  border-color: transparent;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

body .wrapper main .carousel-indicators li.active {
  background: #555;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

body .wrapper main footer {
  background-color: #3b3831;
  color: white;
  margin-top: 0rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */