/* SCSS HSL */
$dark-sienna: hsla(355, 48%, 16%, 1);
$blood-red: hsla(4, 76%, 23%, 1);
$rust: rgb(134, 172, 175);
$bronze: rgb(152, 193, 199);
$white: rgb(244, 245, 244);
$dark-blue: rgb(11, 50, 87);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #3c1518ff,
  #69140eff,
  #a44200ff,
  #d58936ff
);
$gradient-right: linear-gradient(
  90deg,
  #3c1518ff,
  #69140eff,
  #a44200ff,
  #d58936ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #3c1518ff,
  #69140eff,
  #a44200ff,
  #d58936ff
);
$gradient-left: linear-gradient(
  270deg,
  #3c1518ff,
  #69140eff,
  #a44200ff,
  #d58936ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #3c1518ff,
  #69140eff,
  #a44200ff,
  #d58936ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #3c1518ff,
  #69140eff,
  #a44200ff,
  #d58936ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #3c1518ff,
  #69140eff,
  #a44200ff,
  #d58936ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #3c1518ff,
  #69140eff,
  #a44200ff,
  #d58936ff
);
$gradient-radial: radial-gradient(#3c1518ff, #69140eff, #a44200ff, #d58936ff);

body {
  height: 100vh;
  width: 100%;

  .wrapper {
    overflow: hidden;

    margin: 0;
    padding: 0;

    header {
      .navbar {
        font-size: 14px;
        background: #fff;
        padding-left: 16px;
        padding-right: 16px;
        border-bottom: 1px solid #d6d6d6;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      }
      .navbar .navbar-brand {
        color: #555;
        padding-left: 0;
        font-size: 20px;
        padding-right: 50px;
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
      }
      .navbar .navbar-brand b {
        color: #f04f01;
      }
      .navbar .navbar-nav a {
        font-size: 96%;
        font-weight: bold;
        text-transform: uppercase;
      }
      .navbar .navbar-nav a.active {
        color: #f04f01 !important;
        background: transparent !important;
      }
      .search-box input.form-control,
      .search-box .btn {
        font-size: 14px;
        border-radius: 2px !important;
      }
      .search-box .input-group-append {
        padding-left: 4px;
      }
      .search-box input.form-control:focus {
        border-color: #f04f01;
        box-shadow: 0 0 8px rgba(240, 79, 1, 0.2);
      }
      .search-box .btn-danger,
      .search-box .btn-danger:active {
        font-weight: bold;
        background: #f04f01 !important;
        border-color: #f04f01;
        text-transform: uppercase;
        min-width: 90px;
      }
      .search-box .btn-danger:hover,
      .search-box .btn-danger:focus {
        background: #eb4e01 !important;
        box-shadow: 0 0 8px rgba(240, 79, 1, 0.2);
      }
      .search-box .btn span {
        transform: scale(0.9);
        display: inline-block;
      }
      .navbar .nav-item.open > a {
        background: none !important;
      }
      .navbar .dropdown-menu {
        border-radius: 1px;
        border-color: #e5e5e5;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      }
      .navbar .dropdown-menu a,
      .navbar .dropdown-menu a:active {
        color: #777;
        padding: 8px 20px;
        font-size: 13px;
        background: #fff;
      }
      .navbar .dropdown-menu a:hover,
      .navbar .dropdown-menu a:focus {
        color: #333;
        background: #f8f9fa;
      }
      @media (min-width: 992px) {
        .form-inline .input-group .form-control {
          width: 225px;
        }
      }
      @media (max-width: 992px) {
        .form-inline {
          display: block;
        }
      }
      section#cta {
        background-color: rgb(218, 224, 212);
        background-image: url(https://picsum.photos/id/1004/1000/500?blur=1);
        .cta {
          text-align: center;
          color: rgba(185, 178, 157, 0.986);

          button {
            min-width: 10rem;

            @media (min-width: 500px) {
              max-width: 7rem;
            }

            @media (min-width: 700px) {
              max-width: 7rem;
            }
          }

          .btn-outline-dark {
            background-color: none;
            color: rgba(185, 178, 157, 0.986);
            border: 1px solid rgba(185, 178, 157, 0.986);
          }

          .btn-outline-dark:hover {
            background-color: $dark-sienna;

            color: rgb(233, 231, 227);
          }
        }
      }
    }

    main {
      background-color: rgba(9, 18, 24, 0.876);
      display: flex;
      flex-direction: column;
      justify-items: center;

    
      .first-section {
        display: flex;
        flex-direction: column;
        justify-content:center;
        justify-items: center;
        justify-self: center;
        align-self: center;
        @media (min-width: 800px){
            flex-direction: row;

          }
        h2 {
          color: $white;
        }
        div {
          width:50rem;
          display: flex;
          flex-direction: column;
          width: 30rem;

          

          p {
            color: $white;
            
            font-size: 1.1rem;
            padding: 2rem;
            padding-top: 2rem;
            @media (max-width: 500px) {
            }
          }
        }

        div {

          img {
            justify-self: center;
            align-self: center;
            margin: 0 auto;
            padding: 2rem auto;
          }
            
        }
      
      }

      .second-section {
        display: flex;
        flex-direction: column;
        justify-content:center;
        justify-items: center;
        justify-self: center;
        align-self: center;
        @media (min-width: 800px){
            flex-direction: row;

          }
        h2 {
          color: $white;
        }
        div {
          width:50rem;
          display: flex;
          flex-direction: column;
          width: 30rem;

          

          p {
            color: $white;
            
            font-size: 1.1rem;
            padding: 2rem;
            padding-top: 2rem;
            @media (max-width: 500px) {
            }
          }
        }

        div {

          img {
            justify-self: center;
            align-self: center;
            margin: 0 auto;
            padding: 2rem auto;
          }
            
        }
      
      }

      #contact {
        background-color: rgb(59, 56, 49);
        h2 {
          color: $white;
        }
        form {
          background-color: rgb(59, 56, 49);
          color: rgba(185, 178, 157, 0.986);
          padding: 3rem;
          margin-top: 2rem;
          border-radius: 12px;
          min-width: 20rem;
          max-width: 40rem;
          min-height: 5rem;
          max-height: 30rem;
          margin-bottom: 10rem;

          @media (min-width: 500px) {
            min-width: 25rem;
            min-height: 5rem;
            max-height: 30rem;
          }

          @media (min-width: 700px) {
            min-width: 30rem;
            min-height: 5rem;
            max-height: 30rem;
          }

          .form-label {
            color: rgba(185, 178, 157, 0.986);
          }

          button {
            background-color: rgb(59, 56, 49);
            color: rgba(185, 178, 157, 0.986);
            min-width: 10rem;
            max-width: 10rem;
          }

          button:hover {
            background-color: $dark-sienna;
            color: rgba(185, 178, 157, 0.986);
          }
        }
        
      }
      h2 {
        color: $dark-blue;
        text-align: center;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        position: relative;
        margin: 30px 0 60px;
      }
      h2::after {
        content: "";
        width: 100px;
        position: absolute;
        margin: 0 auto;
        height: 3px;
        background: #8fbc54;
        left: 0;
        right: 0;
        bottom: -10px;
      }
      .col-center {
        margin: 0 auto;
        float: none !important;
      }
      .carousel {
        padding: 0 70px;
      }
      .carousel .carousel-item {
        color: #999;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        min-height: 290px;
      }
      .carousel .carousel-item .img-box {
        width: 135px;
        height: 135px;
        margin: 0 auto;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 50%;
      }
      .carousel .img-box img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
      }
      .carousel .testimonial {
        padding: 30px 0 10px;
      }
      .carousel .overview {
        font-style: italic;
      }
      .carousel .overview b {
        text-transform: uppercase;
        color: #7aa641;
      }
      .carousel-control-prev,
      .carousel-control-next {
        width: 40px;
        height: 40px;
        margin-top: -20px;
        top: 50%;
        background: none;
      }
      .carousel-control-prev i,
      .carousel-control-next i {
        font-size: 68px;
        line-height: 42px;
        position: absolute;
        display: inline-block;
        color: rgba(0, 0, 0, 0.8);
        text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
      }
      .carousel-indicators {
        bottom: -40px;
      }
      .carousel-indicators li,
      .carousel-indicators li.active {
        width: 12px;
        height: 12px;
        margin: 1px 3px;
        border-radius: 50%;
        border: none;
      }
      .carousel-indicators li {
        background: #999;
        border-color: transparent;
        box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
      }
      .carousel-indicators li.active {
        background: #555;
        box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
      }

      footer {
        background-color: rgb(59, 56, 49);
        color: white;
        margin-top: 0rem;
        text-align: center;
      }
    }
  }
}
